/languages/SpacePlanningDL/classes_gen/*
/languages/SpacePlanningDL/generator/classes_gen/*
/languages/SpacePlanningDL/generator/source_gen.caches/*
/languages/SpacePlanningDL/generator/source_gen/*
/languages/SpacePlanningDL/sandbox/classes_gen/*
/languages/SpacePlanningDL/sandbox/source_gen.caches/*
/languages/SpacePlanningDL/sandbox/source_gen/*
/languages/SpacePlanningDL/source_gen.caches/*
/languages/SpacePlanningDL/source_gen/*
